colorama==0.4.6		# for producing colored terminal text and cursor positioning
debugpy==1.6.5		# an implementation of the Debug Adapter Protocol for Python
#
jedi==0.18.2		# autocompletion, static analysis and refactoring library for Python


parso==0.8.3		# Parso is a Python parser that supports error recovery and round-trip parsing for different Python versions (in multiple Python versions).
					# Parso is also able to list multiple syntax errors in your python file.
					# Parso has been battle-tested by jedi. It was pulled out of jedi to be useful for other projects as well.
#
Pillow==9.4.0		# Pillow is the friendly PIL (Python Imaging Library) fork. Python Imaging Library adds image processing capabilities to your Python interpreter.
prompt-toolkit==3.0.36	# Library library for building powerful interactive command line and terminal applications in Python 
Pygments==2.14.0	# Pygments is a syntax highlighting package written in Python. It is a generic syntax highlighter suitable for use in code hosting, forums, wikis or other applications that need to prettify source code.
python-dateutil==2.8.2	# Extensions to the standard Python datetime module

# Some package installs those 3:
# setuptools  65.5.0 # old version, current - 65.6.3 to update: py -m pip install --upgrade setuptools
# or install manually: setuptools==65.6.3

# six==1.16.0		# Python 2 and 3 compatibility utilities. Six is a Python 2 and 3 compatibility library.
					# It provides utility functions for smoothing over the differences between the Python versions with the goal of writing Python code that is compatible on both Python versions

# wcwidth==0.2.5	# Measures the displayed width of unicode strings in a terminal:
					# Problem Statement: The printable length of most strings are equal to the number of cells they occupy on the screen 1 charater : 1 cell.
					# However, there are categories of characters that occupy 2 cells (full-wide), and others that occupy 0 cells (zero-width).
					# Solution: POSIX.1-2001 and POSIX.1-2008 conforming systems provide wcwidth(3) and wcswidth(3) C functions of which this python module’s functions precisely copy.
					# These functions return the number of cells a unicode string is expected to occupy.